h1 {
  color: rgb(7, 98, 244);
  text-align: center;
  width: 100%;
  font-size: 60px;
  margin: 15px 0px;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  justify-content: center;
}
main {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  justify-content: center;
  display: flex;
  margin-bottom: 80px;
}
.box {
  background-color: white;
  border-radius: 10px;
  border: 2px solid white;
  height: 650px;
  width: 450px;
}
.box1 {
  margin: -10px 0px;
  text-align: center;
}
.box1 p {
  margin-top: -10px;
  font-size: 14px;
}
.lop1 {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.lop11 {
  height: 30px;
  border-radius: 5px;
  width: 200px;
}
.duongke {
  border-top: 1px solid black;
  margin-top: 15px;
  margin-bottom: 20px;
}
.lop2 {
  text-align: center;
  margin-top: -10px;
  gap: 20px;
  display: flex;
}
.cachdeu {
  margin: 0px 10px;
}
.lop22 {
  height: 30px;
  width: 300px;
  border-radius: 5px;
}
.box3 {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.lop33 {
  border: 1px solid black;
  padding: 10px;
  width: 120px;
  justify-content: space-between;
  display: flex;
  border-radius: 5px;
}
.box4 {
  margin: 10px 0px;
  display: flex;
}
.lop44 {
  width: 100%;
  height: 30px;
  border-radius: 5px;
}
.box5 {
  display: flex;
}
.dangky {
  text-align: center;
  margin-top: 30px;
  border: 1px solid rgb(17, 192, 17);
  padding: 10px;
  width: 120px;
  border-radius: 5px;
  background-color: rgb(17, 192, 17);
  margin-bottom: 10px;
}
.cangiua {
  display: flex;
  justify-content: center;
}
footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 200px;
  background-color: white;
}
.cachdeuft {
  margin: 0px 200px;
}
.box6 {
  display: flex;
}
.box71 {
  display: flex;
  gap: 15px;
}
.box66 {
  gap: 10px;
  margin-top: 20px;
}
.box61 {
  display: flex;
  gap: 10px;
}
.box67 {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}
.box68 {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}
li {
  list-style: none;
}
.box72 {
  display: flex;
  gap: 13px;
}
ul {
  margin: 0;
  padding: 0;
}
